.pattern_bar {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.589),
      rgba(255, 255, 255, 0.603)
    ),
    url("../img/cp.svg");
  padding: 3rem;
}

.menu_p {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(228, 129, 15);
}

.menu_head_tag {
  font-size: 1.7rem;
  color: $prime;
}

.menu_prize {
  font-size: 1.9rem;
  font-weight: 600;
  color: $prime;
  // color: rgb(230, 201, 201);
  // color: rgb(92, 92, 92);
}

.prize_row {
  border-bottom: 1px dashed $prime;
}

.menu_item_head {
  font-size: 3rem;
  font-family: "Pattaya", sans-serif;
  color: $prime;
}

.recipe_menu {
  padding: 2rem;
  margin: 1rem;
  // background-color: rgb(255, 249, 249);
  background-color: rgba(248, 248, 248, 0.842);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.918),
      rgba(255, 255, 255, 0.719)
    ),
    url("../img/cb2.svg");
  // background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("/img/cp.svg");

  border: 1px dashed $prime;
}

.menu_space {
  background-size: 20rem;

  background-image: linear-gradient(
      rgba(73, 4, 4, 0.568),
      rgba(73, 4, 4, 0.726)
    ),
    url("../img/bgimg2.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .menu_prize {
    font-size: 1.5rem;
  }
  .recipe_menu {
    padding: 1rem;
    margin: 0.5rem;
  }
  .menu_img {
    height: 14rem;
  }

  .menu_content {
    padding: 0.5rem 0.8rem;
  }

  .menu_p {
    font-size: 1.3rem;
  }
}

// rgba(73, 4, 4, 0.801),
// rgba(73, 4, 4, 0.87)
