.amt_sec {
  &-sup,
  &-sub {
    font-size: 2rem;
    font-weight: 400;
  }

  &-num {
    font-size: 7rem;
    font-weight: 800;
    color: $prime;
  }

  &-select {
    border: none;
    border-radius: 0 !important;
    border-bottom: 2px solid $prime;
    color: $prime;

    option {
      color: rgb(68, 68, 68);
    }
  }
}
