.bod {
  border: 1px solid red;
}

.nodecoration {
  text-decoration: none;
  color: inherit;
}
.nodecoration:hover {
  text-decoration: none;
  color: inherit;
}

// Spacer
.spacer {
  padding: 3rem;
}

.spacer_s {
  padding: 1.5rem;
}
.spacer_m {
  padding: 2.5rem;
}

.section_4 {
  padding: 2rem 0;
}
.section_5 {
  padding: 5rem 0;
}
.section_6 {
  padding: 6rem 0;
}
.section_8 {
  padding: 8rem 0;
}
.section_10 {
  padding: 10rem 0;
}

.hide {
  display: none;
}

//Padding

//Margin
