.home_about {
  background-image: linear-gradient(#ffffffe0, #ffffffc7),
    url("../img/combo.svg");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center;
}
