.b_input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 7px;
  padding-left: 2rem;
  outline: none;
}

.b_input::placeholder{
  font-size: 1.6rem;
}


.b_input_lable{
  color: rgb(82, 82, 82);
  margin-bottom: .7rem;
}