.member_card {
  width: 64%;
  height: 24rem;
  background-color: $prime;
  padding: 1rem;
  border-radius: 10px;

  &_img {
    width: 9rem;
    height: 10rem;

    border: 1px dashed #eee;
  }

  &_border {
    border: 1px dashed #eee;
    height: 22rem;
    border-radius: 4px;
  }

  &_name {
    color: #eee;
    font-size: 2rem;
  }

  &_mn {
    // Member No
    color: rgb(194, 194, 194);
    font-size: 1.4rem;
    padding-left: 1rem;
  }

  &_num {
    // only Number
    color: #eee;
  }

  &_phone {
    font-size: 1.2rem;
    padding-right: 1rem;
    color: #fff;
  }
}

.mem_row1 {
  padding: 1.8rem;

  p {
    margin: 0rem;
  }

  &_col-left {
    padding-left: 1rem;
  }
}

.mem_row2 {
  background-color: $prime_hover;
}

.mem_text {
  font-size: 1.2rem;
  color: rgb(211, 211, 211);
}

.bh_tag {
  background-color: #eee;
  padding: 1rem;
  color: $prime;
}

@media only screen and (max-width: 700px) {
  .member_card {
    width: 100%;

    &_img {
      width: 8rem;
      height: 10rem;
    }

    &_name {
      color: #eee;
      font-size: 1.7rem;
    }
  }
}
@media only screen and (max-width: 800px) {
  .member_card {
    width: 100%;
  }
}
